@model CoursesOffer
@{
    ViewData["Title"] = "CreateCourse";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Course</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="SubTitle"></label>
                        <input asp-for="SubTitle" class="form-control" id="exampleInputName1" placeholder="Name">
                        <span class="text-danger" asp-validation-for="SubTitle"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="d-block"></label>
                        <textarea asp-for="Description"  id="editor"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script
{
   
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
        <partial name="_ValidationPartial" />
    </script>
}