@model CoursesOffer
@{
    ViewData["Title"] = "Detail";
}

<div class="Raw">
    <div class="col-12">
        <h1>@Model.SubTitle</h1>
        <div>
            @Html.Raw(Model.Description)
        </div>
        <div>
            <a asp-action="Index" class="btn btn-inverse-secondary">Go Back</a>
        </div>
    </div>
</div>