@model Event
@{
    ViewData["Title"] = "Delete";
}


<div class="Raw">
    <div class="col-12">
        <h1>@Model.Title</h1>
        <div>
            @Html.Raw(Model.Date)
        </div>
        <div>
            <p class="text-danger">Are you sure?????????</p>
        </div>
        <div>
            <a asp-action="Index" class="my-3 btn btn-inverse-secondary">Go Back</a>
            <form method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

