@model List<Teacher>
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>our teachers</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>Search Teachers</h3>
                </div>
                <div class="course-form">
                    <form asp-controller="Teacher" asp-action="Search">
                        <input type="search" placeholder="Search..." name="search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
            @foreach (Teacher teach in Model)
            {
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher mb-45">
                        <div class="single-teacher-img">
                            <a asp-controller="Teacher" asp-action="Details" asp-route-id="@teach.Id">
                                <img src="~/img/teacher/@teach.ImageUrl" alt="teacher">
                            </a>
                            <div class="single-teacher-content text-center">
                                <h2><a asp-controller="Teacher" asp-action="Details" asp-route-id="@teach.Id">@teach.Name</a></h2>
                                <h4>@teach.Qualification</h4>
                                <ul>
                                    <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                    <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- Subscribe Start -->
@await Component.InvokeAsync("Subscribe");
<!-- Subscribe End -->
